<div class="bg-light">
  <mat-card class="d-flex flex-column table-content">
    <span>
      <button mat-raised-button color="primary" style="height: 90px; width: 100px;">
        DINE IN
      </button>
    </span>
    <mat-card class="d-flex h-100" style="margin-top: 20px">
      <span *ngFor="let item of dataTable.table; let i = index" class="btn-container">
        <button mat-raised-button color="primary" style="height: 50px; width: 50px; margin: 10px;"
          (click)="onClickTable(item)">
          {{ item.tableName }} <br>
        </button>
      </span>
    </mat-card>
  </mat-card>
</div>
