a {
    list-style: none;
    color: white;
}

.menu-container {
    height: calc(100vh - 270px);
}

.rder-container {
    height: calc(100vh - 270px);
}

.table-cell {
    height: 60px;
    line-height: 4;
}

.order-list-content:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
