a {
    list-style: none;
    color: white;
}

.menu-container {
    height: calc(100vh - 270px);
}

.table-cell {
    padding-top: 15px;
    height: 50px;
}

.table-cell:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}