<nav class="navbar">
  <div class="container-fluid">
    <button mat-raised-button color="primary" style="height: 50px;">
      <span style="font-size: 1rem;" 
      (click)="onChangeTable()"
      *ngIf="selectedTable">
        Table : {{ selectedTable }}
      </span>
    </button>
    <div class="d-flex">
      <button mat-flat-button
      color="primary"
      class="flex-grow-1 mb-2"
      style="height: 50px;"
      (click)="onChangeVispur()"
      (clickVispur)="onSelectedVispur($event)">
        <span style="font-size: 1rem;" *ngIf="selectedVispur">
          {{ selectedVispur }}
        </span>
      </button>
    </div>
  </div>
</nav>
<div class="d-flex p-15">
  <div class="d-flex flex-column" style="flex: 50; margin-right: 10px;">
    <mat-card class="menu-item">
      <app-menu class="menu-container"
      itemColumn="4"
      itemRow="4"
      (clickItem)="onClickItem($event)"
      ></app-menu>
    </mat-card>
  </div>
  <div class="d-flex flex-column" style="flex: 40;">
    <mat-card class="d-flex flex-column flex-grow-1">
      <div class="d-flex table-header">
        <div i18n style="width: 100px;">Qty</div>
        <div i18n class="flex-grow-1">Menu</div>
        <div i18n class="flex-grow-1">Price</div>
      </div>
      <div class="d-flex table-cell hover">
        <app-order-list 
          [salesMenu]="selectedMenu">
        </app-order-list>
      </div>
    </mat-card>
  </div>
</div>